on:
  pull_request:
  push:
    branches:    
      - main

jobs:
  macOS:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build and Test
        run: xcodebuild clean test -project DeltaCodec.xcodeproj -scheme DeltaCodec-macOS CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  iOS:
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ['platform=iOS Simulator,OS=13.3,name=iPhone 11']
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build and Test
        run: xcodebuild clean test -project DeltaCodec.xcodeproj -scheme DeltaCodec-iOS -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
    env:
      destination: ${{ matrix.destination }}

  tvOS:
    runs-on: macOS-latest
    strategy:
      matrix:
        destination: ['platform=tvOS Simulator,OS=13.3,name=Apple TV']
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build and Test
        run: xcodebuild clean test -project DeltaCodec.xcodeproj -scheme DeltaCodec-tvOS -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
    env:
      destination: ${{ matrix.destination }}
